

/* ============================== START: COMPONENTS  ============================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,400&display=swap");

/* =======================================  START: COMPONENTS  ================================================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

// Colors
$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: rgb(231, 231, 231);
$bg-color: rgba(0, 0, 0, 0.795);
$black-bg: rgba(39, 38, 38, 0.543);
$border: .2rem solid $blue;


@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $black-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 10rem 4%;
}

body {
    background: url(img/Neuron-firing.gif);
    overflow-x: hidden;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;

    span {
        color: $blue;
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
        color: $white;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $blue;
    border: $border;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover {
        background: $blue;
        color: $black;
    }
}


/* =======================================  END: COMPONENTS  ================================================== */

/* =======================================  START: HEADER SECTION ============================================= */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-icons {
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header-logo {
    width: 5rem;
    height: 5rem;
    background-color: #07baeb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 110%;
    margin-right: 5rem;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #07dceb;
}

.sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #07dceb;
    background-color: #0b0a0a;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #07dceb;
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #07dceb;
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid #07dceb;
    top: 0;
    left: 100%;
}

.nav-list li:hover>.sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
    max-height: initial;
}

.sub-menu li:hover>.sub-menu {
    top: 0;
    left: 100%;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
}

@media screen and (max-width: 850px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        flex-direction: column;
        align-items: initial;
        display: none;
        background-color: #000000e2;
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav-list>li {
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #1cb5c0;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .menu-icons .fa-x {
        display: block;
    }

    .menu-icons .fa-x {
        display: none;
    }

    nav.active .fa-x {
        display: block;
    }

    nav.active .fa-bars {
        display: none;
    }

    nav.active .nav-list {
        display: flex;
    }
}

/* =======================================  END: HEADER SECTION ============================================== */

/* ============================== START: HERO SECTION  ============================== */
.form-container {
    width: 360px;
    height: 560px;
    margin: 11% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}

.form-container form {
    width: 280px;
    position: absolute;
    top: 65px;
    left: 40px;
    transition: 0.5s;
}

form input {
    width: 100%;
    padding: 10px 5px;
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}


::placeholder {
    color: #777;
}

.form-btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: #45f3ff;
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #000;
    cursor: pointer;
}

form input[type="radio"] {
    width: 5%
}

#fieldOfStudy {
    margin: 15px;
}

#hearAboutUs {
    margin: 15px;  
}

#Form2 {
    left: 450px;
}

#Form3 {
    left: 450px;
}

.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col {
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}

#progress {
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, rgb(8, 107, 147), rgb(28, 158, 153), rgb(9, 241, 241) );
    transition: 1s;
}

#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid rgb(9, 241, 241);
}

#msg {
    background: rgba(165, 164, 164, 0.226); 
}

@media (max-width: 850px) {
    .form-container {
        margin: 20% auto;
    }
}

@media (max-width: 700px) {
    .form-container {
        margin: 30% auto;
    }
}
